<div>
  map works!  {{hero}}
  <table *ngIf="d(tiles)">
    <tr *ngFor="let row of tiles">
      <td *ngFor="let col of row" [ngClass]="[col.getClass()]">{{col.char}}</td>
    </tr>
  </table>
</div>
