table {
	border-collapse: collapse;
}

.blocked {
	background-color: rgb(100, 80, 80);
}

.wall {
	background-color: rgb(90, 70, 70);
}

.unblocked {
	background-color: rgb(200, 200, 200);
}

.tunnel {
	background-color: rgb(170, 170, 170);
}
